/* .visible {
  color: red !important;
} */



.hidden {
    display: none !important;
  }
  
  .form {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    width: 300px;
    height: 100%;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(99, 153, 207);
    border-radius: 5px;
  }
  .formcontainer {
    display: flex;
    justify-content: center;
  }
  .input {
    margin: 10px !important;
  }
  .textbutton {
    cursor: pointer;
    margin: 5px !important;
    border: none;
  }

  